<!DOCTYPE html>
{%extends 'blogapp/base.html'%}
{% block title_block %}{{post.title}}{%endblock%}
  {%block body_block%}
  <h1>{{post.title}}</h1>
    <p id='date'>Published on: {{post.publish}} by {{post.author}}</p>
    <p id='con'>{{post.body|linebreaks}}</p><br><br>
    <div class="container" align="center">
      <a href="/{{post.id}}/share" class="btn btn-primary btn-lg">Share Post by EMAIL</a>
    </div>
    {% with comments.count as comments_count %}
      <h2>{{comments_count}} Comment{{comments_count|pluralize}}</h2>
    {%endwith%}
    {% if comments %}
      {%for comment in comments%}
        <p id='com'>Comment {{forloop.counter}} by {{comment.name}} on {{comment.created}}</p>
        <div class="cb">
          {{comment.body|linebreaks}}
        </div>
      {%endfor%}
      {%else%}
        <p>No comments yet!</p>
    {%endif%}
    {%if csubmit%}
      <h2>Your comment added successfully</h2>
      {%else%}
      <h2>Submit your comments here</h2>
        <form method="post">
          {{form.as_p}}
          {%csrf_token%}
          <input type="submit" class='btn btn-lg btn-success' value="Add comment">
        </form>
    {%endif%}
  {%endblock%}
